body {
    background-image: url("images/SCP-Logo.png");
    background-size: cover;
    background-color: rgb(139, 139, 139);
    background-repeat: no-repeat;
    background-attachment: scroll;
}
div {
    width: 700px;
    margin: auto;
}